<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NPCEROLEntities" connectionString="metadata=res://*/RolModel.csdl|res://*/RolModel.ssdl|res://*/RolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.60.19.22\TPCESQLINST02;initial catalog=NPCEROL;persist security info=True;user id=pasquale;password=pasquale;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NPCELOLEntities" connectionString="metadata=res://*/LOLModel.csdl|res://*/LOLModel.ssdl|res://*/LOLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.60.19.22\TPCESQLINST02;initial catalog=NPCELOL;persist security info=True;user id=pasquale;password=pasquale;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PostaEvoEntities" connectionString="metadata=res://*/PostaEvoModel.csdl|res://*/PostaEvoModel.ssdl|res://*/PostaEvoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.60.19.22\TPCESQLINST02;initial catalog=PostaEvo;persist security info=True;user id=pasquale;password=pasquale;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>