<div class="bg-light" id="sidebar-wrapper">
    <div class="sidebar-logo">
        <img class="img-responsive" height="49.6759px"  id="logo" src="_content/NPCE_Client.AppComponents/images/LogoPoste.jpg" />
    </div>
    <div class="profile">
        <div class="profile-bg">
            <img class="img-responsive" src="_content/NPCE_Client.AppComponents/images/profilePicture.jpg" />
        </div>
        <div class="profile-picture">
            <img class="img-responsive circle account-photo" src="_content/NPCE_Client.AppComponents/images/profilePicture.jpg" />
        </div>
    </div>
    <div class="menu list-group list-group-flush">
        <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/anagrafiche">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Anagrafiche
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/anagraficaedit">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Nuova anagrafica
        </NavLink>

        <NavLink class="list-group-item list-group-item-action bg-light" href="/documentoadd">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Nuovo documento
        </NavLink>
        <NavLink class="list-group-item list-group-item-action bg-light" href="/documenti">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Documenti
        </NavLink>
    </div>
</div>